version: '3.8'

services:
  mariadb:
    image: mariadb:10.5
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    networks:
      - vuln_net

  darkstar:
    build:
      context: ./darkstar
      dockerfile: Dockerfile
    container_name: darkstar
    env_file:
      - ./.env
    depends_on:
      - mariadb
    networks:
      - vuln_net

volumes:
  mariadb_data:

networks:
  vuln_net:
    driver: bridge
